* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    /* Warna latar belakang keseluruhan halaman */
    color: black;
    /* Warna teks utama */
    padding: 0;
}

body::before {
    content: '';
    background-image: url('/img/Logo.png');
    /* Gambar latar belakang yang sama dengan latar belakang utama */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
    /* Mengatur sejauh mana gambar latar belakang di-blurkan */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 130%;
    z-index: -1;
    /* Menempatkan lapisan pseudo-element di bawah konten utama */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

/* Style header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 6%;
    background-color: #1E90FF;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    box-sizing: border-box;
}

#icon-menu {
    display: none;
    color: white;
}

.logo {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    /* Membuat elemen anak berbaris secara horizontal */
    align-items: center;
    /* Mengatur vertikal align agar sejajar */
    color: #ffffff;
}

.logo img {
    width: 70px;
    /* Ubah lebar sesuai yang Anda inginkan */
    height: 70px;
    /* Biarkan tinggi mengikuti proporsi asli gambar */
}

.logo-text {
    font-size: 25px;
    font-weight: 600;
    margin-right: 5px;
    color: white;
    /* Warna isi teks */
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.896);
    /* Warna tepi tulisan */
}

.logo-subtext {
    font-size: 15px;
    color: white;
    /* Warna isi teks */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* Warna tepi tulisan */
}

.home {
    width: 100%;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 15% 0;
    justify-content: space-between;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;

}

.home-content {
    max-width: 800px;
}

.home-content h1 {
    font-size: 700px;
    font-weight: 600;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 26px;
    font-weight: 600;
}

.home-content p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.social-icon {
    width: 50px;
    /* Ubah lebar ikon sesuai yang Anda inginkan */
    height: 50px;
    /* Ubah tinggi ikon sesuai yang Anda inginkan */
    cursor: pointer;
    /* Mengubah kursor menjadi tangan saat mengarahkan ke ikon */
    transition: transform 0.2s;
    /* Animasi saat ikon diberi hover */
    margin-top: 2px;
    /* Atur margin atas sesuai kebutuhan Anda */
    text-align: center;
    /* Pusatkan elemen di tengah */
}

.home-sci a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    margin: 20px 0;
    transition: transform 0.3s;
    /* Animasi saat ikon diberi hover */
}

.home-sci a:hover {
    background: #1E90FF;
    color: #264653;
    transform: scale(1.12);
    /* Membesarkan ikon saat di-hover (1.2 adalah faktor skala yang bisa disesuaikan) */
}



.home-img {
    border-radius: 50%;
    width: 20%;
    justify-content: center;
    align-items: center;
    float: right;
    /* Menggeser gambar ke kanan */
    margin-left: 15px;
    /* Memberikan jarak antara gambar dan teks */
    max-width: 50%;
    /* Mengatur lebar maksimum gambar */

}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navbar a.active,
.navbar a:hover {
    font-weight: bolder;
    color: #0000CD;
}


.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    width: 300px;
    height: 400px; /* Sesuaikan tinggi dengan kebutuhan Anda */
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 80px; /* Tambahkan border radius */
    position: relative;
    margin-top: 150px;
}

.member-photo {
    position: relative;
    overflow: hidden;
    height: 250px;
    border-radius: 8px 8px 0 0; /* Tambahkan border radius */
    flex-shrink: 0; /* Biarkan foto tidak mengecil */
}

.member-photo img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover; /* Agar gambar tidak terlalu zoom */
}

.member-photo:hover img {
    transform: scale(1.1);
}
.member-info {
    padding: 20px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.member-info h2 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    justify-content: center; /* Letakkan ikon di tengah */
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: orange;
}
/* ... Kode CSS sebelumnya ... */

.member-photo:hover img {
    transform: scale(1.05); /* Sesuaikan level zoom sesuai keinginan Anda */
}


/* Media query untuk layar dengan lebar maksimum 768px */
@media screen and (max-width: 768px) {
    #icon-menu {
        display: block;
    }

    .header {
        position: relative;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #1E90FF;
        overflow: hidden;
        border-radius: 10px;
        margin-right: 1px;
    }

    .navbar a {
        font-size: 12px;
    }

    .showNavbar {
        height: auto;
        padding: 20px 10px;
    }

    .hideNavbar {
        height: 0;
    }
    .box{
        padding: 40px 65px;
        margin-bottom: 40px;
        
    }

    .logo-text {
        font-size: 10px;
        font-weight: 600;
        margin-right: 5px;
        margin-left: 5px;
        color: white;
        /* Warna isi teks */
        text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.896);
        /* Warna tepi tulisan */
    }

    .logo-subtext {
        font-size: 9px;
        color: white;
        /* Warna isi teks */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        /* Warna tepi tulisan */
    }

    .logo img {
        width: 30px;
        /* Ubah lebar sesuai yang Anda inginkan */
        height: 30px;
        /* Biarkan tinggi mengikuti proporsi asli gambar */
    }

    .team-member {
        display: column;
        height: auto; /* Sesuaikan tinggi sesuai konten */
        margin: 10px 0; /* Ubah margin agar lebih rapat */
        padding: 0px 1px;
    }

    .member-photo {
        height: auto; /* Sesuaikan tinggi sesuai konten */
        border-radius: 20px 20px 0 0; /* Tambahkan border radius */
        padding: 0px 0; /* Ubah padding agar lebih padat */
    }

    .member-info p{
        padding: 10px; /* Ubah padding agar lebih padat */
        font-size: 10px;
    }
    .member-info h2 {
        margin: 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 798px) {
    body::before {
        margin: 10px;
        z-index: -1;
        width: 100%;
        height: 260%;
        /* Menempatkan lapisan pseudo-element di bawah konten utama */
    }

    #icon-menu {
        display: block;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #1E90FF;
        overflow: hidden;
        border-radius: 10px;
        margin-right: 1px;
    }

    .navbar a {
        font-size: 12px;
    }

    .showNavbar {
        height: auto;
        padding: 20px 30px;
    }

    .hideNavbar {
        height: 0;
    }
    .box{
        padding: 40px 65px;
    }

    .logo-text {
        font-size: 20px;
        font-weight: 600;
        margin-right: 5px;
        margin-left: 5px;
        color: white;
        /* Warna isi teks */
        text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.896);
        /* Warna tepi tulisan */
    }

    .logo-subtext {
        font-size: 15px;
        color: white;
        /* Warna isi teks */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        /* Warna tepi tulisan */
    }

    .logo img {
        width: 50px;
        /* Ubah lebar sesuai yang Anda inginkan */
        height: 50px;
        /* Biarkan tinggi mengikuti proporsi asli gambar */
    }
}
