/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    /* Warna latar belakang keseluruhan halaman */
    color: black;
    /* Warna teks utama */
    padding: 0;
}

body::before {
    content: '';
    background-image: url('/img/Logo.png');
    /* Gambar latar belakang yang sama dengan latar belakang utama */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
    /* Mengatur sejauh mana gambar latar belakang di-blurkan */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 130%;
    z-index: -1;
    /* Menempatkan lapisan pseudo-element di bawah konten utama */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.container-Order {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 150px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: rgba(4, 29, 23, 0.5);
    border-radius: 5px;
}


/* Style header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 6%;
    background-color: #1E90FF;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    box-sizing: border-box;
}

#icon-menu {
    display: none;
    color: white;
}

.logo {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    /* Membuat elemen anak berbaris secara horizontal */
    align-items: center;
    /* Mengatur vertikal align agar sejajar */
    color: #ffffff;
}

.logo img {
    width: 70px;
    /* Ubah lebar sesuai yang Anda inginkan */
    height: 70px;
    /* Biarkan tinggi mengikuti proporsi asli gambar */
}

.logo-text {
    font-size: 25px;
    font-weight: 600;
    margin-right: 5px;
    color: white;
    /* Warna isi teks */
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.896);
    /* Warna tepi tulisan */
}

.logo-subtext {
    font-size: 15px;
    color: white;
    /* Warna isi teks */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* Warna tepi tulisan */
}

.home {
    width: 100%;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 15% 0;
    justify-content: space-between;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;

}

.home-content {
    max-width: 800px;
}

.home-content h1 {
    font-size: 700px;
    font-weight: 600;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 26px;
    font-weight: 600;
}

.home-content p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.social-icon {
    width: 50px;
    /* Ubah lebar ikon sesuai yang Anda inginkan */
    height: 50px;
    /* Ubah tinggi ikon sesuai yang Anda inginkan */
    cursor: pointer;
    /* Mengubah kursor menjadi tangan saat mengarahkan ke ikon */
    transition: transform 0.2s;
    /* Animasi saat ikon diberi hover */
    margin-top: 2px;
    /* Atur margin atas sesuai kebutuhan Anda */
    text-align: center;
    /* Pusatkan elemen di tengah */
}

.home-sci a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    margin: 20px 0;
    transition: transform 0.3s;
    /* Animasi saat ikon diberi hover */
}

.home-sci a:hover {
    background: #1E90FF;
    color: #264653;
    transform: scale(1.12);
    /* Membesarkan ikon saat di-hover (1.2 adalah faktor skala yang bisa disesuaikan) */
}



.home-img {
    border-radius: 50%;
    width: 20%;
    justify-content: center;
    align-items: center;
    float: right;
    /* Menggeser gambar ke kanan */
    margin-left: 15px;
    /* Memberikan jarak antara gambar dan teks */
    max-width: 50%;
    /* Mengatur lebar maksimum gambar */

}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navbar a.active,
.navbar a:hover {
    font-weight: bolder;
    color: #0000CD;
}



.btn {
    position: relative;
    width: 200px;
    height: 60px;
    display: inline-flex;
    background: #0000CD;
    border-radius: 80px;
    font-size: 19px;
    color: #f2e9e4;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.btn:hover {
    background-color: #0000CD;
    /* Warna tombol saat dihover */
}

.features {
    text-align: center;
    padding: 80px 0;
}

.feature {
    margin-bottom: 40px;
}

.feature img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.contact {
    background-color: #1E90FF;
    /* Warna latar belakang contact section */
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

.footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    border-radius: 18px;
}


.footer p {
    margin: 20px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.box-login input::placeholder,
.register-form input::placeholder {
    color: black;
}

.btn-login .box-login input:hover {
    background: rgba(10, 10, 10, s 0.5);
}

.bottom {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;

}

.bottom p {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.bottom a {
    color: #1E90FF;
    font-size: 15px;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}


.register-container {
    background-color: rgba(255, 255, 255, 0.833);
    /* Latar belakang transparan dengan nilai alpha 0.8 */
    box-shadow: 0px 0px 25px 10px #1E90FF;
    padding: 60px;
    border-radius: 50px;
    text-align: center;
    max-width: 400px;
    margin: 150px auto;
    /* Untuk mengatur tengah secara horizontal */
}

.register-container h1 {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.register-container p {
    color: black;
}

.register-form {
    color: black;
    display: flex;
    flex-direction: column;
}

.form-group {
    color: black;
    margin-bottom: 5px;
    text-align: left;
}

.register-form label {
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 90%;
    font-size: 16px;
    background: none;
    margin-bottom: 15px;

}

button[type="submit"] {
    background-color: #1E90FF;
    color: #fff;
    width: 96%;
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}


button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    color: black;
}

a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: 0px auto;
    margin-top: 180px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(17, 132, 239, 0.839);
    background-color: rgba(255, 255, 255, 0.833);
    border-radius: 30px;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    body::before {
        margin: 10px;
        z-index: -1;
        /* Menempatkan lapisan pseudo-element di bawah konten utama */
    }

    #icon-menu {
        display: block;
    }

    .header {
        position: relative;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #1E90FF;
        overflow: hidden;
        border-radius: 10px;
        margin-right: 1px;
    }

    .navbar a {
        font-size: 12px;
    }

    .showNavbar {
        height: auto;
        padding: 20px 10px;
    }

    .hideNavbar {
        height: 0;
    }
    .box{
        padding: 40px 65px;
    }

    .logo-text {
        font-size: 10px;
        font-weight: 600;
        margin-right: 5px;
        margin-left: 5px;
        color: white;
        /* Warna isi teks */
        text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.896);
        /* Warna tepi tulisan */
    }

    .logo-subtext {
        font-size: 9px;
        color: white;
        /* Warna isi teks */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        /* Warna tepi tulisan */
    }

    .logo img {
        width: 30px;
        /* Ubah lebar sesuai yang Anda inginkan */
        height: 30px;
        /* Biarkan tinggi mengikuti proporsi asli gambar */
    }

    main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 250px;
        margin: 0px auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(17, 132, 239, 0.839);
        background-color: rgba(255, 255, 255, 0.833);
        border-radius: 30px;
        flex-wrap: wrap;
    }

    .tracking-section h2,
    .shipping-rate-section h2 {
        font-size: 20px;
        margin-top: 30px;
        margin-left: 60px;
        align-items: center;
    }

    .register-container {
        background-color: rgba(255, 255, 255, 0.833);
        /* Latar belakang transparan dengan nilai alpha 0.8 */
        box-shadow: 0px 0px 25px 10px #1E90FF;
        padding: 60px;
        border-radius: 50px;
        max-width: 160px;
        /* Untuk mengatur tengah secara horizontal */
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .register-container h1 {
        color: black;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .form-group {
        color: black;
        margin-bottom: 5px;
        text-align: left;
        font-size: 15px;
    }

    .form-group label {
        padding: 0;
    }

    .register-container p {
        color: black;
        font-size: 10px;
    }

    label {
        font-size: 13px;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
        color: black;
    }

    #tracking-number,
    #name,
    #namabarang,
    #nohp,
    #weight {
        padding: 10px;
        width: 100%;
        font-size: 8px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
        padding: 10px 30px;
        font-size: 10px;

    }

    button[type="submit"] {
        width: 100%;
       
        
    }

}
